:root {
    --cabecera-letra: #350404;
    --colorfondo1: #0e5b31;
    --navegacion: #d10707;
}
html {
    font-family: 'Times New Roman', Times, serif;
}
.fondo {
    background-color: rgba(237, 125, 77, 0.789);
}

/* La cabecera */

header {
    background-color: rgba(22, 107, 58, 0.645);
    margin: 0rem 2rem;
    border-radius: 3rem;
    padding: 0.5rem;
}
header h1 {
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--cabecera);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: row;
    margin: 1rem 2rem;
    border-radius: 3rem;
}

/* Fin de la cabecera */

/* Navegación */

.navegacion {text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--navegacion);
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem;
    border-radius: 3rem;
    font-size: 21px;
}
.enlace {
    text-decoration: none;
    color: white;
}
@media (min-width: 480px) {
    .navegacion {
        flex-direction: row;
        justify-content: space-around;
    }
}
/* Fin de la navegación */


