:root {
    --white: #ffffff;
    --lightblue: #31bdc7;
    --dark: #000000;
    --primary: #F8FAFC;
    --secundary: #4c921e;
    --botones: #92621e;
    --pulsar: #eeb360;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
    /* Esto es para que la pagina se deslice suavamente cuando le das a uno de los botones de navecación*/
    scroll-behavior: smooth;
}

/* Todo lo que es la cabecera */

header h1 {
    text-align: center;
    font-size: 5rem;
    color: var(--dark);
    font-weight: 500;
}
.nombre {margin: 0rem;
    padding: 0rem;
}
header h2 {
    text-align: center;
    font-size: 3rem;
    color: var(--dark);
    font-weight: 500;
}
header nav {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
header h1 span {
    font-size: 2rem;
}
.enlace {color: var(--white);
    text-decoration: none;
    padding: .5rem;
    margin-top: .5rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
}
.enlace:hover {
    animation-name: desvanecer;
    animation-duration: 1s;
}
@keyframes desvanecer {
    from {transform: translateY(-5px); opacity: 0;}
    to {transform: translate(0); opacity: 1}
}
.navegacion {text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secundary);
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem;
    border-radius: 3rem;
}
/* .navegacion :hover {
    background-color: var(--botones);
    border-radius: 10%;
} */

@media (min-width: 480px) {
    .navegacion {
        flex-direction: row;
        justify-content: space-around;
    }
}
.webdeveloper {margin: 0rem;
    padding: 0rem;
}
.espacio {
    margin: 4rem;
}
.cabeza {
    margin: 0rem;
    padding: 1rem;
}
.fondo {
    background-image: url(../img/oredenador.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 480px) {
    .fondo {
        width: auto;
    }
}
.arreglo-error {
    position: relative;
    height: 200px;
    margin: 1rem 2rem;
}
   
.transparencia {
    position: absolute;
    background-color: rgba(0.65, 88, 789, 0.3);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}
.titulo {font-size: 3.5rem;
    margin: 1rem 2rem 1rem 2rem;
}
.localidad {
    font-size: 2rem;
    margin: 0rem 0rem 2rem 0rem;
}
.chincheta {
    margin-bottom: 2rem;
}
.telefono {
    font-size: 2rem;
    text-decoration: none;
    color: var(--white);
    background-color: rgba(189, 110, 7, 0.429);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.68rem;
}

.telefono:hover {
    background-color: #eeb360;
}
@media (min-width: 480px) {
    .boton-telefono {
        width: auto;
    }
}
.centrado {
    display: flex;
    justify-content: center;
}
.centrado img {
    width: 2rem;
}

/* Fin de la seccion de cabecera*/

/* Seccion que contiene todo lo que son los recuadros esos de explicación que llamé variables*/

.container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    margin: 1rem 2rem;
    border-radius: 3rem;
    max-width: 1400px;
}
@media (min-width: 1200px) {
    .container {
        width: 1100;
        margin: 2rem auto;
    }
}
.servicios {
    text-align: center;
    font-size: 3rem;
}
.variables {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    flex-grow: 1;
}
.parrafo {
    text-align: justify;
}
@media (min-width: 480px) {
    .variables {
        width: auto;
        flex-direction: row;
    }
}
.diseno-web {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
    
}
.boton-a {
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0.65, 88, 789, 0.3);
    width: 27rem;
    border-radius: 3rem;
    margin: 3rem auto;
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes scale {
    from {transform: scale(1);}
    to {transform: scale(1.2)}
}
.boton-b {
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0.65, 88, 789, 0.3);
    width: 27rem;
    border-radius: 3rem;
    margin: 3rem auto;
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.boton-c {
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0.65, 88, 789, 0.3);
    width: 27rem;
    border-radius: 3rem;
    margin: 3rem auto;
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.aplicacion-web {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
    
}
.market-place {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
    
}
@media (min-width: 756px) {
    .aplicacion-web, .diseno-web, .market-place {
        width: 30%;
    }
}
.icono {
    background-color: var(--lightblue);
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    padding: 1rem;
}

/* mis proyectos en la seccion de trabajos */

.tratra {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    flex-grow: 1;
    background-color: #bab6b666;
    border-radius: 3%;
}
.receta {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
}
.brexit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
}
.boots {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
}
@media (min-width: 756px) {
    .receta, .brexit, .boots {
        width: 30%;
    }
}
@media (min-width: 480px) {
    .tratra {
        width: auto;
        flex-direction: row;
    }
}
.img-trabajos {
    width: 95%;
    height: 40%;
    border-radius: 3%;
}
.img-trabajos:hover {
    animation-name: crece;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes crece {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

/* fin */

/* Seccion formulario */

.formulario {
    background-color: rgba(10, 10, 10, 0.434);
    width: min(80rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset {
    border: none;
}
.contacto {
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0.65, 88, 789, 0.3);
    width: 27rem;
    border-radius: 3rem;
    margin: 3rem auto;
}
.formulario legend {
    margin: 0 auto 2rem auto;
    font-size: 2rem;
    font-weight: bold;
    color: #e1ff00;
}
.cajas {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.cajas label {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}
.cajas input,
.cajas textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border-color: #e1ff00;
    border-width: .3rem;
}
.enviar {
    width: 100%;
    border: none;
    font-size: 2rem;
    text-decoration: none;
    color: var(--white);
    background-color: rgba(189, 110, 7, 0.429);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.68rem;
}
.enviar:hover {
    background-color: var(--botones);
}
/* Fin de seccion formulario*/
/* Footer*/
.footer {
    margin-left: 1rem;
    font-size: 14px;
}
