:root {
    --white: #ffffff;
    --lightblue: #31bdc7;
    --dark: #000000;
    --primary: #F8FAFC;
    --secundary: #4c921e;
    --botones: #92621e;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
}
header h1 {
    text-align: center;
    font-size: 4.5rem;
    color: var(--dark);
    font-weight: 500;
}
.nombre {margin: 0rem;
    padding: 0rem;
}
header h2 {
    text-align: center;
    font-size: 3rem;
    color: var(--dark);
    font-weight: 500;
}
header nav {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
header h1 span {
    font-size: 2rem;
}
.enlace {color: var(--white);
    text-decoration: none;
}
.navegacion {text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secundary);
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem;
    border-radius: 3rem;
}
@media (min-width: 480px) {
    .navegacion {
        flex-direction: row;
        justify-content: space-around;
    }
}
.titulo {font-size: 2.5rem;
    margin: 2rem;
}
.webdeveloper {margin: 0rem;
    padding: 0rem;
}
.espacio {
    margin: 4rem;
}
.cabeza {
    margin: 0rem;
    padding: 1rem;
}
.fondo {
    background-image: url(../img/oredenador.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 480px) {
    .fondo {
        width: auto;
    }
}
.container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    margin: 1rem 2rem;
    border-radius: 3rem;
    max-width: 1400px;
}
@media (min-width: 1200px) {
    .container {
        width: 1100;
        margin: 2rem auto;
    }
}
.servicios {
    text-align: center;
    font-size: 3rem;
}
.variables {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
@media (min-width: 480px) {
    .variables {
        width: auto;
        flex-direction: row;
    }
}
.diseno-web {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
}
.boton-a {
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0.65, 88, 789, 0.3);
    width: 27rem;
    border-radius: 3rem;
    margin: 3rem auto;
}
.boton-b {
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0.65, 88, 789, 0.3);
    width: 27rem;
    border-radius: 3rem;
    margin: 3rem auto;
}
.boton-c {
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0.65, 88, 789, 0.3);
    width: 27rem;
    border-radius: 3rem;
    margin: 3rem auto;
}
.aplicacion-web {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem
}
.market-place {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem
}
.icono {
    background-color: var(--lightblue);
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    padding: 1rem;
}
.arreglo-error {
    position: relative;
    height: 200px;
    margin: 1rem 2rem;
}
   
.transparencia {
    position: absolute;
    background-color: rgba(0.65, 88, 789, 0.3);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}
.localidad {
    font-size: 2rem;
}
.centrado {
    display: flex;
    justify-content: center;
}

.centrado img {
    width: 2rem;
}
.telefono {
    font-size: 2rem;
    text-decoration: none;
    color: var(--white);
    background-color: rgba(189, 110, 7, 0.429);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.68rem;
}
@media (min-width: 480px) {
    .boton-telefono {
        width: auto;
    }
}
.formulario {
    background-color: rgba(10, 10, 10, 0.434);
    width: min(80rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset {
    border: none;
}
.contacto {
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0.65, 88, 789, 0.3);
    width: 27rem;
    border-radius: 3rem;
    margin: 3rem auto;
}
.formulario legend {
    margin: 0 auto 2rem auto;
    font-size: 2rem;
    font-weight: bold;
    color: #e1ff00;
}
.cajas {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.cajas label {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}
.cajas input,
.cajas textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border-color: #e1ff00;
    border-width: .3rem;
}
.enviar {
    width: 100%;
    border: none;
}



